* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* header and navigation style */
.nav-title {
  font-weight: 400;
  font-size: 45px;
}
nav {
  justify-content: space-between;
  margin: 50px 200px;
}
nav {
  display: flex;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
  border: 0;
  padding: 18px 35px;
}
/* banner style */
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner-discription {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* about section style */
.about {
  margin-top: 130px;
  padding: 131px 156px;
  background: #fff8f3;
  border-radius: 10px;
}
.section-title {
  text-align: center;
  color: #181818;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}
.section-description {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* div container */

.about-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.about-title {
  font-size: 20px;
  color: #757575;
}

.about-description {
  color: #757575;
  font-weight: 400;
  font-size: 20px;
}
